SMS_DEVICE_IP=192.168.1.50
SMS_DEVICE_PORT=8080
SMS_DEVICE_USERNAME=admin
SMS_DEVICE_PASSWORD=secretpassword

DB_USERNAME=dev
DB_PASSWORD=dev
DB_NAME=rakshak

RABBITMQ_USERNAME=dev
RABBITMQ_PASSWORD=dev
QUEUE=location
EXCHANGE_KEY=dev
ROUTING_KEY=dev